@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  transition: all 0.5s ease-in;
}
body {
  background-color: rgb(235, 235, 239);
  color: rgb(38, 32, 30);
}
#arena {
  margin: auto;
  padding-top: 20px;
  width: 80%;
  height: 250px;
  display: flex;
  justify-content: center;
}

.arena-items {
  height: 100%;
  width: 800%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.arena-items > h2 {
  font-size: 50px;
  text-align: center;
}

#bot-img,
#you-img {
  margin-top: 0px;
  width: 180px;
  height: 180px;
}

img[src=""],
img:not([src]) {
  opacity: 0;
}

#score {
  padding: 20px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#result {
  font-size: 40px;
}

#points {
  text-align: center;
  align-self: center;
  width: 70px;
  height: 70px;
  font-size: 26px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 50%;
}

#play-again {
  border: none;
  text-decoration: underline;
  background-color: transparent;
  width: 200px;
  font-size: 18px;
  letter-spacing: 6px;
  cursor: pointer;
  color: rgb(38, 32, 30);
}

#container {
  width: 60%;
  height: 150px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container > img {
  width: 100px;
  height: 100px;
  margin: 10px 20px;
  cursor: pointer;
  transition: all 0.3s;
}
#container > img:active {
  scale: 0.95;
  opacity: 0.5;
}

footer {
  background: rgb(38, 32, 30);
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

footer > h2,
footer > p {
  color: rgb(235, 235, 239);
  text-align: center;
}
